.dinh {
    position: fixed;
    top:0;
    left: 0;
    z-index: 9;
    right: 20rem;
    background-color: #fff;
}
.body-mid{
    padding-top: 1000px;
}
.bg-1{
    background-image: url(./image/bg_top.jpg);
}
.nav-right{
    margin-left: 100px;
}
a:link{
    text-decoration: none
}
#menu1 .dropdown-end{
    position: absolute;
    border: 1px solid black;
    background-color: #fff;
    width: 17.2%;
    border-bottom: 1px solid black;
    padding:0;
}
#menu1 .dropdown-end li{
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid black;
   
}
.nav{
    padding-top:7px;
}
.dropdown-menu li{
    border-bottom: 1px solid black;
}
.dropdown-menu li:last-child
{
    border-bottom: 0;
}
.dropdown:hover >.dropdown-menu {
    display: block;
    margin-top: 0.125rem;
}
.dropdown-menu:hover .dropdown-item{
    color: green;
}
.dropdown-menu{
    border :1px solid black;
}
.page-title{
    position: relative;
}
.nav-1{
    font-size: 1.5em;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    color: #ccc;
    
}
.submit-button{
    background-color: green;
    width: 65px;
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.divider{
    margin-left: 1em;
    top: 2px;
    color: black;
}
.wrapper {
    padding-bottom: 30px;
    padding-top: 30px;
}
.cart-auto{
    max-width: 100%;
    flex-basis: 100%;
}
.shop_table thead th {
    border-width: 3px;
    
}
table{
    border-color: #ececec;
    border-spacing: 0;
    margin-bottom: 1em;
    width: 100%;
}
th{
    border-bottom: 1px solid #ececec;
    font-size: .9em;
    line-height: 1.3;
    padding: 0.5em;
    letter-spacing: .05em;
    line-height: 1.05;
    text-transform: uppercase;
}
th td {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    text-align: left;
}
thead>th{
    text-align: center;
}

.product{
width: 60%;
}
.product-img{
    width: 30px;
}
.total-1{
    padding-right: 0;
    width: 10%;
}
.price .quality .total > th {
  padding-right:0 ;
}
tbody{
    margin-top: 1em;
}
td.product-img{
    max-width: 90px;
    min-width: 60px;
    width: 90px;
}
td div .remove{
    padding: 0;
    width: 20px;
}
.product-img  >img{  
   width: 15%;
   height: 20%;
   position: relative;
   padding-left: 2em;
}

td.product-remove{
    display: flex;
    left: 0;
    width: 5%;
}
tbody td{
    padding-top:1em !important;
}
.quantity input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border-radius: 0!important;
    font-size: 1em;
    max-width: 2.5em;
    text-align: center;
    width: 2.5em;
    text-align: center;
    border-radius: 10px;
}
.quantity{
    white-space: nowrap;

}
input[type='button']{
    border-radius: 10px;
}
.price{
    color: green;
    font-size: 1.3em;
}
.icon-remove{
    color: #ccc;
}
.icon-remove:hover{
    color: black;
}
.product-text{
    color: black;
    font-size: 1em;
    text-align: center;
    padding-left: 0.5em!important;
}
